#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(29, 29, 29);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 1);
}
body {
  background-image: url("https://wallpaperaccess.com/full/6446641.jpg");
  background-size: cover;         /* Make it cover the whole screen */
  background-repeat: no-repeat;   /* Stop it from repeating */
  background-position: center;    /* Center the image */
  min-height: 100vh;              /* Make body fill the full viewport height */
  margin: 0;                      /* Remove default body margin */
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
